header {
    background: #E6E6FA;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
  position: absolute;
  top: 220px;
  right: 0;
  display: flex;
}

nav li{
    margin: 0 0 0 15px;
    display: flex;
}

nav a {
  text-transform: uppercase;
  color: #4B0082;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

h2{
  text-transform: uppercase;
  color: #4B0082;
}

p{
   color: #483D8B;
   text-transform: inherit;
}

#camomila{
  width: 605px;
}

#hortela{
  width: 615px;
}

h2{
  font-size: 40px;
  text-align: center;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1.5% 0;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid #483D8B;
    border-radius: 10px;
}

.produto-descricao {
  font-size: 18px;
}
